[Unit]
Description=RGB LED matrix client for target %i
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=root
WorkingDirectory=/opt/hackathon-2026/pi-client
ExecStart=/opt/hackathon-2026/pi-client/pi_client --target-id %i --port 5000 --health-port 5101 --panel-calibration /etc/hackathon-2026/panel_calibration.conf --led-pwm-bits 6 --led-limit-refresh 235
Restart=always
RestartSec=2
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
